<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TableName" value="Northwind"/>
    <add key="vegEtAbLE" value="Potato"/>
   
    <add key="ServerSettings.HostName" value="localhost"/>
    <add key="ServerSettings.Port" value="8080"/>
    <add key="ServerSettings.SQL.HostName" value="dbservername"/>
    <add key="ServerSettings.SQL.Port" value="666"/>

    <add key="Node1.Node2.Node3.Node4" value="Deep"/>
    
    <add key="DecimalNumber1" value="99.12"/>
    <add key="FloatNumber1" value="99.12"/>
    <add key="BooleanValue1" value="true"/>
    <add key="IntegerNumber" value="5"/>
    <add key="DateTimeValue" value="2018-01-01"/>

  </appSettings>
</configuration>