################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/ConfigTest/.vs/ConfigTest/v15
/src/ConfigTest/obj
/src/SimpleConfigBuilder/obj
